* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-dark: #16335a;
  --blue-mid: #1875e8;
  --color-font-main: #041833;
  --color-font-post: #444444;
  --white: #fff;
  --font-main: 'Raleway', sans-serif;
  --font-secundary: 'Playfair Display', sans-serif;
  font-family: var(--font-main);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  /* min-height: 100vh; */
}

a,
button,
input,
textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 5rem;
}
