.banner {
  padding: 3rem 7.5rem 5rem;
  background-color: var(--white);
  color: var(--white);
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: var(--font-main);
  color: var(--color-green-logo);
  font-size: 2rem;
  margin-top: 1rem;
}

.paragraph-subtitle {
  font-family: var(--font-main);
  color: var(--color-green-logo);
  font-size: 1rem;
  margin-bottom: 2rem;
}

.logo > * {
  max-width: 50px;
}

.images > .profile-pic {
  position: absolute;
  right: 0;
  top: 1vw;
  width: 18vw;
  border-radius: 50%;
}

.images > .element-circle {
  position: absolute;
  right: 5vw;
  top: 2vw;
  width: 25vw;
}

@media (max-width: 1100px) {
  .banner {
    padding: 3.5rem 1.5rem;
  }

  .paragraph {
    margin-bottom: 1.5rem;
  }

  .images {
    height: 338px;
  }

  .images > .profile-pic {
    width: 25vw;
  }

  .images > .element-circle {
    right: 10vw;
    width: 35vw;
  }
}

@media (max-width: 744px) {
  .banner {
    padding: 2rem 1rem;
    display: block;
  }

  .paragraph {
    margin-bottom: 2rem;
  }

  .images {
    height: 307px;
  }

  .images > .profile-pic,
  .images > .element-circle {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .images > .profile-pic {
    width: 170px;
    transform: translate(5rem, 0px);
  }

  .images > .element-circle {
    width: 240px;
    transform: translate(-1.5rem, 0px);
  }
}
